.headline {
  display: flex;
  width: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 3rem;
}

.eintrittserklärungFormular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.eintrittsLabel {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.eintrittsInput {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  border: none;
  border-bottom: dotted;
}

.eintrittsRadioInput {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.eintrittsRadioLabel {
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
}

.signatureWrapper {
  margin: 1rem 0;
  border: dotted;
  justify-self: center;
}

.signatureField {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.signatureField p {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.signaturePlaceDate {
  display: flex;
  gap: 1rem;
}

.minorSignatures {
  display: flex;
  justify-content: space-between;
}

.signatureActions {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.signatureActions button {
  margin: 1rem;
  padding: 0.375rem 0.625rem;
  cursor: pointer;
}

.submitButton {
  margin-top: 2rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
